.text-orange {
    text-decoration: none;
    color: orangered;
}
#text-orange a {
    text-decoration: none;
    color: orangered;
}
#text-orange a:hover {
    text-decoration: underline;
    color: orange;
}
body {
    text-align: center;
    background: white;
    font-family: Helvetica;
    width: 66%;
    margin: auto;
    min-width: fit-content;
}