{% load static %}
<!--This file serves as a base for other html files-->
<head>
<!--Linking Bootstrap 5-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!--Linking my own css file-->
<link href="{% static 'parkatdcu/style.css' %}" rel="stylesheet" type="text/css" >
<title>Park At DCU</title>
</head>

<body id="text-orange">
<!--Centers content of site-->
<div class="container p-5 pt-0 text-grey text-center">
    <div>
        <!--A basic navbar with links to the DCU website-->
        <nav class="navbar navbar-expand bg-dark navbar-dark ps-5">
            <!--DCU logo on navbar links to DCU website-->
            <div>
                <a href="https://www.dcu.ie/"><img src="{% static 'parkatdcu/images/dcu_logo_red.png' %}" alt="Logo"/></a>
            </div>
            <!--Links to Parkatdcu index page and DCU website-->
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="https://www.dcu.ie/attendingdcu">DCU</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.dcu.ie/phonebook?find-staff=People...">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'parkatdcu:index' %}">ParkAtDCU</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Campuses</a>
                        <!--A dropdown menu containing links to the campuses covered by Parkatdcu-->
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'parkatdcu:carparks' %}?campus=Glasnevin">Glasnevin</a></li>
                            <li><a href="{% url 'parkatdcu:carparks' %}?campus=All Hallows">All Hallows</a></li>
                            <li><a href="{% url 'parkatdcu:carparks' %}?campus=St. Pats">St. Pats</a></li>
                            <li><a href="{% url 'parkatdcu:carparks' %}?campus=DCU Alpha">DCU Alpha</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% block content %}
<!--Default page content-->
<div class="container-fluid">
    <br><br><br><br><h1>Welcome to ParkAtDCU</h1><br>
</div>
{% endblock %}
</div>
</body>
