{% extends './base.html' %}

{% block content %}
<div class="container mt-5">
<div class="container">
<h1>{{ campus }}</h1>
<!--Checks if the campus is open at the current time-->
{% if campus_open %}
<h3 class="text-success">Campus is open</h3>
{% else %}
<h3 class="text-danger">Campus is closed</h3>
{% endif %}
</div>
<div class="container mt-3">
<!--Checks if there are any carparks to display-->
{% if carparks %}
<!--Carpark information is displayed in a table-->
<table class="table table-striped">
    <thead>
        <tr class="table-dark">
            <th>Carpark Name</th>
            <th>Total Spaces</th>
            <th>Available Spaces</th>
            <th>Disability Spaces</th>
            <th>Paid Parking</th>
        </tr>
    </thead>
    <tbody>
    {% for carpark in carparks %}
        <tr>
            <td class="table-dark">{{carpark.name}}</td> 
            <td>{{carpark.spaces}}</td>
            <!--Available spaces is colour-coded based on percentage of spaces available-->
            <td class={{carpark.availability_status}}>{{carpark.spaces_available}}</td>
            <td>{{carpark.disabled_spaces}}</td>
            <td>{{carpark.paid_parking}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h3 class="display-4">No carparks found</h3>
{% endif %}
<!--An easy way to return to index page-->
<a href="{% url 'parkatdcu:index' %}">Home</a>
</div>
<!--An embedded map of the campus being viewed-->
<div>
    <!--Map is selected from database-->
    <iframe src="{{campus_map}}" width="600" height="450" style="border:0;" loading="lazy" allowfullscreen></iframe>
</div>
</div>
{% endblock %}