{% extends './base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <br><br><h1>Welcome to ParkAtDCU</h1><br>
</div>
<div>
    <h3 class="display-5">Check the availability of parking across Dublin City University's campuses</h3><br>
</div>
<div class="container">
    <!--This is a select menu to pick which campus to view-->
    <form action="{% url 'parkatdcu:carparks' %}" method="get">
        <label class="form-label text-orange">Select Campus</label>
        <!--The java in this line submits what the user selects as they select it; no need for a confirm button-->
        <select class="form-select" onchange="this.form.submit()" name="campus" value="">
        <!--A default null value tell the user what to do-->
        <option disabled selected value> -- Select a Campus -- </option>
        <!--For-loop lists campuses from databse as options-->
        {% for campus in campuses %}
            <option value="{{campus}}">{{campus}}</option>
        {% endfor %}
        </select>
    </form>
</div>
<br>
<br>
<!--A carousel displaying a image for each campus, mainly gotten from https://www.w3schools.com/bootstrap5/bootstrap_carousel.php-->
<div id="demo" class="carousel slide container text-center" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="{% url 'parkatdcu:carparks' %}?campus=Glasnevin"><img src="{% static 'parkatdcu/images/glasnevin.png' %}" alt="Glasnevin" class="d-block w-100"></a>
            <div class="carousel-caption">
                <h3>Glasnevin</h3>
            </div>
        </div>
        <div class="carousel-item">
            <a href="{% url 'parkatdcu:carparks' %}?campus=All Hallows"><img src="{% static 'parkatdcu/images/allhallows.png' %}" alt="All Hallows" class="d-block w-100"></a>
            <div class="carousel-caption">
                <h3>All Hallows</h3>
            </div>
        </div>
        <div class="carousel-item">
            <a href="{% url 'parkatdcu:carparks' %}?campus=St. Pats"><img src="{% static 'parkatdcu/images/stpats.png' %}" alt="St. Patricks" class="d-block w-100"></a>
            <div class="carousel-caption">
                <h3>St. Pats</h3>
            </div>
        </div>
        <div class="carousel-item">
            <a href="{% url 'parkatdcu:carparks' %}?campus=DCU Alpha"><img src="{% static 'parkatdcu/images/dcualpha.png' %}" alt="DCU Alpha" class="d-block w-100"></a>
            <div class="carousel-caption">
                <h3>DCU Alpha</h3>
            </div>
        </div>
    </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
      </button>
</div>


{% endblock %}

